# .NET
**/bin/
**/obj/
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal
backend/**/appsettings.Development.json

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
.vs/
.vscode/
**/.idea/

# Local dev server logs
*_run.log